.header {
    width: 80%;
    padding-top: 63px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 13px;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #212121;
}

.logo,
.menu-link {
    outline: 0;
}