.container {
    max-width: 1366px;
    min-width: 1000px;
    position: relative;
    margin: 0 auto;
    border: 1px solid grey;
    background-color: #f7f7f7; 
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}