.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    padding-top: 63px;
    position: absolute;
    width: 1170px;
}

.menu {
    float: right;
}

.menu-list {
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 13px;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #212121;
}